{% extends 'base.html' %}

{% block head %}
<title>flash card {{plashcard.key}}</title>
<meta name="keywords" content='{{plashcard.key}},flash, card, note, text, study' />
	<meta name="discription" content="This is flash card for study" />
{% endblock head %}

{% block body %}
<div class="row">
{% for flashcard in flashcards %}
	<div class="col-6 col-sm-4 col-md-3 col-lg-2 mt-3">
		<div class="card">
			<div class="card-body">
				<div class="card-subtitle text-muted">{{ flashcard.created_at | date:'Y-m-d' }}</div>
				<div class="card-title">{{ flashcard.key }}</div>
				<hr/>
				<div class="card-text">{{ flashcard.answer }}</div>
			</div>
		</div>
	</div>
{% endfor %}
</div>
{% endblock body %}
